<!-- getboostrap.com/docs/4.4/components/pagination -->

<nav>
  <ul class="pagination">
    <li class="page-item" 
      [appClass]="{disabled: currentPage === 0}"
    >
      <a class="page-link" (click) = "currentPage = currentPage -1 ">Prev</a>
    </li>

    <!-- If true, then active <li> is applied as a class-->
    
    <ng-container *appTimes="images.length; let i = index">
        <li 
      class="page-item" 
      [appClass] = "{ active: i === currentPage }" 
      *ngIf="checkWindowIndex(i)"
      >
        <a (click) ="currentPage = i" class="page-link">{{ i + 1 }}</a>

      </li>
    </ng-container> 
    <li class="page-item" 
    [appClass]="{disabled: currentPage === images.length -1}">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>
  </ul>
</nav>

<!-- the appClass makes use of our customely created directive -->
<!-- <div>
  <h4 appClass [backgroundColor]=" 'red' ">{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url"/>
</div> -->

<div>
  <h4 >{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url"/>
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is Zero
  </div>
  <div *ngSwitchCase="0">
    Some more stuff
  </div>
  <div *ngSwitchDefault>
    Unknown current Page!
  </div>
</div> -->

<ul *appTimes="5">
  <li>Hi there!</li>
</ul>