<!-- developer.mozzila.org/en-US/docs/Web/Guide/HTML/HTML5/Constraing_validation -->
<form #emailForm="ngForm">
  <!-- required makes field mandatory to be filled out -->
  <input 
    type="email" 
    pattern=".+@.+/..+"
    required 
    name="email" 
    [(ngModel)]="email"
    #emailControl="ngModel"
    />

  <!-- two way binding is really the equivalent of the following where it grabs from the .ts file and also sends data to the .ts file -->
  <!-- <input [value]="" (input)="" /> -->

  {{ emailForm.valid }}
  {{ email }}

  <ng-container *ngIf="emailForm.controls.email.invalid && emailControl.touched">
    <div *ngIf="emailControl.errors.required">
      You must enter an email
    </div>
    <div *ngIf="emailControl.errors.pattern">
      Please enter a valid email
    </div>
  </ng-container>

</form>

<hr />

<div>Is form valid: {{ emailForm.valid }}</div>
<div>Form values: {{ emailForm.value | json }}</div>
<div>Email validation errors: {{ emailForm.controls.email.errors | json }}</div>